<div class="row">
  <div class="col-sm-12">
    <h1>Establishments <%= link_to 'New Place', new_establishment_path, class: 'btn btn-default' %></h1>
  </div>
</div>

<hr />

<table class="table table-striped">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>

  <% @establishments.each do |establishment| %>
      <tr>
        <td><%= image_tag(establishment.image_url(:thumb)) if establishment.image? %></td>
        <td><%= link_to establishment.title, establishment_path(establishment) %></td>
        <td><%= establishment.description %></td>
        <td><%= establishment.category.title %></td>
        <td>
          <%= link_to 'View', establishment_path(establishment) %>
          <%= link_to 'Edit', edit_establishment_path(establishment) %>
          <%= link_to 'Delete', establishment_path(establishment),
                      method: :delete,
                      data: {confirm: 'Do you want to remove this establishment?'} %>
        </td>
      </tr>
  <% end %>

</table>
