<%= form_for @establishment, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group <%= 'has-error' if @establishment.errors[:title].any? %>">
      <%= f.label :title, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @establishment.errors[:description].any? %>">
      <%= f.label :description, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @establishment.errors[:category_id].any? %>">
      <%= f.label :category_id, 'Category', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control' %>
      </div>
    </div>

    <%= f.file_field :images, multiple: true %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>